/* fonts by google NO ELIMINAR*/
.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }

/* nota para josefin-sans--> <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 700 */
  
.josefin-sans- /* <uniquifier> */{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.navbar {
    width: 100%; 
    height: 100px;
    background-color: rgb(22, 33, 20); 
    color: rgb(255, 240, 210); 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
}
.navbar-brand {
    font-family: 'Yeseva One', cursive; 
    font-size: 30px; 
    width: 240px; 
    height: 50px; 
    margin: 0; 
    color: rgb(255, 240, 210);
}
.navbar-toggler {
    position: relative;
    border: 0;
    transition: .5s ease-in-out;
    background-color: rgb(255, 240, 210);
    color: rgb(255, 240, 210);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}
  
.navbar-toggler span {
    margin: 0;
    padding: 0;
} 
  
.toggler-icon { 
    display: block;
    position: absolute;
    height: 3px;
    width: 98%;
    background-color: rgb(255, 240, 210);
    color: rgb(255, 240, 210);
    border-radius: 1px;
    opacity: 1;
    transition: .25s ease-in-out;
}
  
.btn-close {
   background-color: rgb(255, 240, 210);
   box-shadow: none;  
}
  
.offcanvas-header{
    background-color: rgb(22, 33, 20);
}
  
.offcanvas-title{
    font-family: 'Yeseva One', cursive;
    font-size: 25px;
    color: rgb(255, 240, 210);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: auto;
}
  
.offcanvas-body{
    background-color: rgba(22, 33, 20, 0.85);
}
  
.navbar-nav {
    list-style: none; 
    display: flexbox; 
}
  
.nav-item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    color: rgb(255, 240, 210);
    margin-right: 26px; 
}
  
.nav-link {
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 18px; 
    color: rgb(255, 240, 210);
    text-decoration: none; 
}

.navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
  
.dropdown-menu{
    background-color: rgba(255, 240, 210, 0.5);
}
  
.dropdown-item{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: rgb(40, 65, 35);
}


/*en este css: solo lo de contacto.html/*
/*html- contacto*/
.intro {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: rgb(40, 69, 35);
    color: rgb(225, 222, 195);
}

.intro-box {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background: rgb(146, 144, 121);
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.epi-left, .epi-right {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: rgb(22, 33, 20);
}

.title-left, .title-right {
    font-family: 'Yeseva One', serif;
    font-size: 32px;
    font-weight: bold;
    color: rgb(22, 33, 20);
    margin: 10px 0;
}

.body-left {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(22, 33, 20);
}

.btn-page {
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(22, 33, 20); 
    color: rgb(255, 240, 210);
    border: 2px solid rgb(22, 33, 20);
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
}

.btn-page:hover {
    font-family: 'Josefin Sans', sans-serif;
    background-color:rgb(91, 117, 83);
    border: 2px solid rgb(91, 117, 83);
}

/* Estilos de las redes sociales */
.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    margin: 10px 0;
}

.social-links a {
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(22, 33, 20);
    color: rgb(255, 240, 210);
    border-radius: 40px;
    text-decoration: none;
    font-size: 18px;
}

.social-links a:hover {
    text-decoration: underline;
    background-color: #5b7553;
}

/* Estilos del formulario de contacto */
.background {
    background-color: rgb(40, 69, 35);
    border-bottom: 25px solid rgb(40, 69, 35);
   align-items: center;
}

.title-form {
    font-family: 'Yeseva One', serif;
    font-size: 28px;
    font-weight: bold;
    color: rgb(22, 33, 20);
    margin-bottom: 20px;
    text-align: center;
}

.text-form {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 50px;
    background-color: rgb(146, 144, 121);
    border-radius: 40px;
    max-width: 800px;
    margin-bottom: 20px;
    color: rgb(22, 33, 20);
}

.contact-box form{
    width: 80%;
    max-width: 600px;
    background-color: rgb(146, 144, 121);
    padding: 20px;
    border-radius: 10px;
}

.contact-box .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.contact-box label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-box input[type="text"],
.contact-box input[type="email"],
.contact-box textarea,
.contact-box select {
    width: 90%;
    padding: 10px;
    border: 1px solid rgba(22, 33, 20, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-box .form-check {
    display: flex;
    align-items: left;
    margin-bottom: 10px;
}

.contact-box .form-check input[type=checkbox],
.contact-box .form-check input[type=radio] {
    margin-right: 10px;
    margin-left: 0;
}

.contact-box .form-check-label {
    margin: 0;
}

.contact-box .radio-group {
    display: flex;
    flex-direction: column;
}

.contact-form p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #555;
}

.form-group {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(22, 33, 20);
}

.form-control, .form-select {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    background-color: rgb(4, 57, 39);
    color: rgb(225, 222, 195);
}

.form-check-input {
    margin-top: 7px;
    background-color: rgb(255, 255, 255);
    color: rgb(225, 222, 195);
}

.form-check-label {
    margin-left: 5px;
    font-size: 14px;
    color: rgb(225, 222, 195);
}

.btn-primary {
    background-color: rgb(22, 33, 20);
    border: none;
    padding: 10px 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: rgb(225, 222, 195);
    cursor: pointer;
    border-radius: 40px;
    display: block;
    width: 98%;
    max-width: 200px;
    margin: 20px auto 0;
}

.btn-primary:hover {
    background-color: #5b7553;
}

textarea.form-control {
    height: 150px;
    resize: vertical;
}


/* Estilos responsivos */
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
        align-items: center;
    }

    .intro-box {
        margin-bottom: 20px;
    }
    .contact-box {
        margin-bottom: 200px;
    }
}
