.card.visible {
    opacity: 1;
    transform: translateY(0);
}


.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    grid-gap: 10px; /* Espacio entre las celdas */
    padding: 30px;
    margin-bottom: 15px;
    justify-content:space-between;
    border-radius: 20px;
    background-color: rgb(255, 240, 210)   ;
 
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#map{
    border-radius: 20px;
    max-width: 400;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.button-ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.button-ripple:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

.form-select {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-select:focus {
    border-color: #6200ea;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.targetprovincias{
    height: 90px; 
          width: 90%;
        max-width: 1180px; 
        margin: auto; 
        border-radius: 15px;
        margin-bottom: 25px;
 
    
}